@font-face {
    font-family:Abril;
    src: url('../fonts/Abril_Fatface/AbrilFatface-Regular.ttf');
}
@font-face {
    font-family:Crete;
    src: url('../fonts/Crete_Round/CreteRound-Regular.ttf');
}
@font-face {
    font-family: Fredoka;
    src: url('../fonts/Fredoka_One/');
}